node_modules
.vscode

*.d.ts
*.config.js
cli/dist
src/style-guide/colors.stories.mdx
src/style-guide/icons.stories.mdx
src/elements/icon/*.svelte
src/elements/marketing-icon/*.svelte

src/form/inputs/rich-text-input/rich-text-input.stories.svelte