{
    "extends": ["@nick-mazuk/eslint-config/svelte", "@nick-mazuk/eslint-config/+cypress"],
    "overrides": [
        {
            "files": ["*.stories.svelte"],
            "rules": {
                "no-alert": "off"
            }
        }
    ],
    "globals": {
        "svelte": "readonly",
        "NodeJS": "readonly"
    },
    "rules": {
        "@typescript-eslint/prefer-nullish-coalescing": "warn"
    }
}
