{
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "pluginSearchDirs": ["."],
    "plugins": ["prettier-plugin-svelte"],
    "svelteStrictMode": true,
    "svelteAllowShorthand": true,
    "svelteBracketNewLine": true,
    "svelteIndentScriptAndStyle": true
}
